/*
	Сброс таблицы стилей, взято из:
	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section 
{
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after 
{
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Настройка основных блоков*/
* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
header, nav, section, main, article, aside, footer 
{
	display: block;
}


body	/* в Body задаем настройки по умолчанию для: фона страницы, шрифт и его размер, стиль и цвет */
{
   background-color: #a0a0a0;	/*цвет фона*/
   font-family: 'Roboto Condensed',sans-serif;	/*задаем шрифт по умолчанию Raleway*/
   font-size: medium;		/* задаем базовый шрифт medium, это около 14 px */
   font-weight: normal;		/* толщина нормальная*/
   color:#1b1b1b;	/* цвет темно-серый или черный #000 */
}

h1,h2,h3,h4 	/*для всех заголовков задаем второй шрифт - Open Sans*/
{
	font-family: 'Open Sans',sans-serif;
}

h1
{
   font-size:1.8em;
}
h2
{
   font-size:1.6em;
}
h3
{
   font-size:1.4em;
}
h4
{
   font-size:1.2em;
}
a
{
   color: #5A99DC;
   text-decoration: none;
}
a:hover
{
   text-decoration: underline;
}

/*Основной блок на всю ширину*/
#wrapper
{
   /*max-width: 1170px;*/
   margin: 0 auto;
   background-color:#fff;	/*цвет фона*/
   
}

/* шапка --------------------------*/

#hat
{
    padding: 2em;
}
#hat #logo p
{
    font-size: 1.8em;
}
#hat #user_login
{
    /*margin-top: 0.3em;*/
    color:#1b1b1b;
}
#hat #user_login li
{
    display: inline-block;
    padding: 0.5em;
}
#hat #user_login li a
{
    margin-left: 0.2em;
    color:#1b1b1b;
    text-decoration: underline;
}

/* Первый экран --------------------------*/

#first-screen
{
    background: rgba(0,0,0,0.5) url("../images/bg.jpg") no-repeat fixed center top;
    background-color: rgba(0,0,0,0.5);
    padding: 8em 2em;
}
#first-screen #bg
{
    background-color: rgba(0,0,0,0.5);
    padding: 4em 1em;
}

#first-screen h1,
#first-screen h2
{
    color: #fff;
    text-align: center;
    line-height: 2;
}
#first-screen h1
{
    font-size: 3em;
}
#first-screen h2
{
    margin-bottom: 2em;
}
#first-screen button
{
    display: block;
    vertical-align: top;
    margin: 0 auto;
    padding: 1em 3em;
}

/* Блок преимуществ --------------------------*/

#features
{
    padding: 2em;
    text-align: center;
}
#features .item
{
    border: 1px #c0c0c0 solid;
    padding: 2em;
    margin-top: 1em;
}
#features h2
{
    font-size: 2.5em;
    padding: 1em;
}
#features h3
{
    font-size: 1.8em;
    margin-bottom: 0.5em;
}
#features i
{
    margin-bottom: 0.5em;
    color: #979797;
}
#features p
{
    line-height: 1.5;
}

#create-lp
{
    text-align: center;
    padding: 3em 1em;
    margin: 0 3em 4em 3em;
    border: 1px #c0c0c0 solid;
}
#create-lp h2
{
    font-size: 1.8em;
    margin-bottom: 1em;
}
#create-lp button
{
    padding: 1em 3em;
}

/* Формы ---------------------- */

.modal .modal-footer
{
    padding: 0;
}
.modal h4
{
    text-align: center;
}

.modal button[type="submit"]
{
    display: block;
    margin: 1em auto 0 auto;
    padding: 0.5em 2em;
}

/* Подвал ---------------------- */
footer
{
    background-color: #1b1b1b;
    color: #fff;
}


#copyright
{
	text-align: center;
	padding: 2em;
	border-top: 1px #fff dotted;
	font-size: 0.8em;
}

/*Кнопка Наверх*/
#toTop 
{
	width:2.5em;
	/*background-color: rgba(61,183,239,0.7);
	background-color: #FFCB08;*/
	background-color: rgba(0,0,0,0.8);
	text-align:center;
	padding:0.65em 0.2em;
	position:fixed;
	bottom:0.7em;
	right:1em;
	cursor:pointer;
	display:none;
	color:#fff;
	/*color: #0D3262;	*/
	font-size:1.5em;

	
	-webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}


/* media */
@media screen and (max-width:1400px) 	/* для ноутбуков и малых мониторов */
{
    
}

@media screen and (max-width:1170px) 	/* для планшетов */
{
	
}
@media screen and (max-width:768px) 	/* для смартфонов */
{
	body	
	{
	   font-size: small;
	}
	
}
